
@{
	ViewData["Title"] = "Intro";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Progres"] = 5;
}


<h3>Kiedy nie używać .NET Framework...?</h3>

<span style="font-size: 15pt;">
	Warto również wymienić kilka sytuacji w których nie warto kierować się wyborem technologii .NET Framework:
</span>
<br />
<br />
<ol style="font-size: 15pt;">
	<li>
		wymagane jest wsparcie różnych systemów operacyjnych;
	</li>
	<li>
		wymaga jest wysoka wydajność i skalowalność nowo powstających projektów;
	</li>
	<li>
		platforma .NET Core realizuje wszystkie nasze wymagania;
	</li>
	<li>
		wymagana jest struktra otwartego oprogramowania.
	</li>
</ol>