
@{
	ViewData["Title"] = "Intro";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Progres"] = 4;
}

<h3>Kiedy używać .NET Framework...?</h3>

<span style="font-size: 15pt;">
	.NET Framework jest ściśle powiązany z systemem Windows. W głównej mierze używany jest do tworzenia aplikacji desktopowych oraz dużych aplikacji biznesowych.
	<br />
	<br />
	Argumenty przemawiające z użyciem tej technologii:
</span>
<br />
<br />
<ol style="font-size: 15pt;">
	<li>
		kiedy jest ona obecnie w użyciu: zamiast przeprowadzania migracji projektu na nową technologię można dokonać jego rozszerzenia. 
		Programiści mogą napisać nowe usługi przy użyciu ASP.NET Core.;
	</li>
	<li>
		kiedy Twój projekt używa zewnętrznych bibliotek niewspieranych przez .NET Core
	</li>
	<li>
		kiedy używasz technologii jeszcze niedostępnych w .NET Core:
		<ol>
			<li>
				ASP.NET Web Forms;
			</li>
			<li>
				ASP.NET Web Pages;
			</li>
			<li>
				usługi internetowe WCF;
			</li>
			<li>
				Windows Workflow Foundation;
			</li>
			<li>
				Workflow Services;
			</li>
			<li>WCF Data Services (znane również pod nazwą ADO.NET Data Services);</li>
		</ol>
	</li>
</ol>

