
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Progres"] = 100;
}

<h1>Podsumowanie</h1>



Doszliśmy do wniosku, że każda z technologii ma swoje plusy i minusy, ograniczenia i zalety oraz odmienną charakterystkę.
<br />
Najlepszym podsumowaniem będzie sięgnięcie po informacje do źródła, firmy Microsoft:.NET Framework vs .NET Core
<br />
<br />
<img style="width:400px" src="~/meme3.png" />
<img src="~/summary.png" />


<br />
<br />
<b>.NET Framework</b> jest dojrzałą platformą dystrubuowaną z systemem Windows. Używaj tej technologii, gdy chcesz tworzyć aplikacje desktopowe i UWP lub jeżeli nie masz nic przeciwko pracy ze starszą technologią ASP.NET.

<br />
<br />
<b>.NET Core</b> jest technologią wieloplatformową działającą na systemach Windows, Linux oraz MacOS. Używaj tej technologii jeżeli chesz tworzyć aplikacje konsolowe lub internetowe, które będą działać na każdej z powyższych platform. Wysoka wydajność i skalowalność będzie osiągnięta przy wykorzystaniu konteneryzacji. Platforma ta jednak nie wspiera tworzenia aplikacji desktopowych oraz UWP.


