
@{
	ViewData["Title"] = "Intro";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Progres"] = 11;
}

<h1>ASP .NET MVC – silnik renderujący Razor</h1>
<br />

<span style="font-size: 17pt">
	Widok jest nieodłącznym elementem aplikacji ASP .Net MVC czym byłby on jednak bez odwołań do kodu C#?
	<br />
	Począwszy od 3 wersji MVC wprowadzona została składnia Razor – silnik renderujący pozwalający nam na łatwe wprowadzanie elementów kodu aplikacji do plików HTML.
	Rozszerzenia plików mają teraz postać .cshtml i są znacznie czytelniejsze od wcześniej stosowanych .aspx
</span>

<img src="~/razor1.png" />