@model Auto

@{

	ViewData["Title"] = "Modele";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Progres"] = 25;
}

<h1>Modele dały @Model.Marka @Model.Model</h1>













@*model List<Auto>

	@{

		ViewData["Title"] = "Modele";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	@foreach (var item in Model)
	{
		<h1>Modele dały @item.Marka @item.Model</h1>
	}
*@
