
@{
	ViewData["Title"] = "Intro";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Progres"] = 7;
}

<h3>Co to jest .NET Core?</h3>

<span style="font-size: 15pt;">
	ASP.NET Core to międzyplatformowa struktura typu open source o wysokiej wydajności służąca do tworzenia nowoczesnych aplikacji internetowych opartych na chmurze. Platforma ASP.NET Core umożliwia:
</span>
<br />

<ol style="font-size: 15pt;">
	<li>
		Kompilowanie aplikacji i usług internetowych, aplikacji IoT i zapleczy mobilnych.
	</li>
	<li>
		Używanie ulubionych narzędzi programistycznych w systemach Windows, macOS i Linux.
	</li>
	<li>
		ŚWdrażanie w chmurze lub lokalnie.
	</li>
	<li>
		Uruchamianie na platformie .NET Core lub .NET Framework.
	</li>
</ol>
