
@{
	ViewData["Title"] = "Intro";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Progres"] = 8;
}

<h3>Dlaczego warto korzystać z platformy ASP.NET Core?</h3>

<span style="font-size: 15pt;">
	Miliony deweloperów korzystają z platformy ASP.NET 4.x do tworzenia aplikacji internetowych. ASP.NET Core to przeprojektowana platforma ASP.NET 4.x, w której wprowadzono zmiany architektoniczne w celu stworzenia bardziej zwartej i modułowej struktury.

	<br />
	<br />
	ASP.NET Core zapewnia następujące korzyści:
</span>

<ol style="font-size: 15pt;">

	<li>Zunifikowany scenariusz tworzenia interfejsu API sieci Web i internetowych sieci Web.</li>
	<li>Zaprojektowane pod kątem testowania.</li>
	<li>Razor Pages sprawia, że kodowanie scenariuszy ukierunkowanych na strony jest łatwiejsze i bardziej produktywne.</li>
	<li>Blazor umożliwia korzystanie C# z przeglądarki obok JavaScript. Udostępnianie logiki aplikacji po stronie serwera i klienta, która jest zapisywana przy użyciu platformy .NET.</li>
	<li>Możliwość programowania i uruchamiania w systemach Windows, macOS i Linux.</li>
	<li>Otwarte i skoncentrowane na społeczności.</li>
	<li>Integracja nowoczesnych struktur po stronie klienta i przepływów pracy projektowania.</li>
	<li>Obsługa hostingu zdalnych wywołań procedur (RPC) za pomocą usługi gRPC.</li>
	<li>System konfiguracjioparty na środowisku, który jest gotowy do chmury.</li>
	<li>Wbudowane iniekcja zależności.</li>
	<li>Lekki, wysoko wydajnyi modularny potok żądań HTTP.</li>
	<li>Możliwość hostowania na np.: Kestrel, Apache, Docker</li>
</ol>

